<main class="elixir-detail-main-container">
    <div class="elixir-detail-back-container" routerLink="/elixirs">
        <img src="assets/icons/arrow-icon.png"/>
        <span>Back</span>
    </div>
    <h1>{{elixir.name}}</h1>
    <div class="elixir-detail-main-container">
        <p><span>Effect:</span> {{elixir.effect || 'None'}}</p>
        <p><span>Side effects:</span> {{elixir.sideEffects || 'None'}}</p>
        <p><span>Characteristics:</span> {{elixir.characteristics || 'None'}}</p>
        <p><span>Time:</span> {{elixir.time || 'Unknow'}}</p>
        <p><span>Difficulty:</span> {{elixir.difficulty}}</p>
        <ng-container *ngIf="elixir.ingredients.length > 0">
            <p><span>Ingredients:</span></p>
            <ul>
                <li *ngFor="let ingredient of elixir.ingredients">{{ingredient.name || 'Unknown'}}</li>
            </ul>
        </ng-container>
        <ng-container *ngIf="elixir.ingredients.length == 0">
            <p><span>Ingredients:</span> Unknow</p>
        </ng-container>
        <ng-container *ngIf="elixir.inventors.length > 0">
            <p><span>Inventors:</span></p>
            <ul>
                <li *ngFor="let inventor of elixir.inventors">{{inventor.lastName}}, {{inventor.firstName}}</li>
            </ul>
        </ng-container>
        <ng-container *ngIf="elixir.inventors.length == 0">
            <p><span>Inventors:</span> Unknow</p>
        </ng-container>
    </div>
</main>

<app-loader *ngIf="loading"></app-loader>
